@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Upload";
}
<h2>Drag & Drop file upload </h2>
<div id="dropArea">
    Drop your files here
</div>
<h4>Uploaded files : </h4>
<ul class="list-group" id="uploadList"></ul>

<style>
    #dropArea {
        background: #b5b5b5;
        border: black dashed 1px;
        width: 300px;
        height: 300px;
        text-align: center;
        color: #fff;
        padding-top: 12px;
        line-height: 300px;
    }

    .active-drop {
        background: #77bafa !important;
        border: solid 2px blue !important;
        opacity: .5;
        color: black !important;
    }
</style>

@section Scripts{
    <script src="~/Scripts/jquery.filedrop.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#dropArea').filedrop({
                url: '@Url.Action("UploadFiles")',
                allowedfiletypes: [],
                allowedfileextensions: [],
                paramname: 'files',
                maxfiles: 5,
                maxfilesize: 5, // in MB
                dragOver: function () {
                    $('#dropArea').addClass('active-drop');
                },
                dragLeave: function () {
                    $('#dropArea').removeClass('active-drop');
                },
                afterAll: function (e) {
                    $('#dropArea').html('file(s) uploaded successfully');
                },
                uploadFinished: function (i, file, response, time) {
                    $('#uploadList').append('<li class="list-group-item">' + file.name + '</li>')
                }
            })
        });


    </script>
    <!-- https://www.youtube.com/watch?v=hqSlVvKvvjQ 
        Author: Michael
        Date: 2017-11-16-->
    <script>
        function () {
            var upload = function (files) {
                var formData = new FormData(),
                    xhr = new XMLHttpRequest(),
                    x;

                for (x = 0;, x < files.length; x++;) {
                    formData.append('file[]', filex[x]);
                }

                xhr.onload = function () {
                    var data = this.response;
                }

                xhr.open('post', 'UploadController.cs');
                xhr.send(formData);
            };

            dropArea.onDrop = function (e) {
                e.defaultPrevent();
                upload(e.datTransfer.files);
            };
        };
    </script>
}