@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message - where does this come from?</h3>

<address>
    <p>Why would you want to contact us desu?</p>
</address>

<address>
    <strong>Support:</strong> <a href="https://github.com/Kaymit">Kevin Mitchell</a><br />
    <strong>Support:</strong> <a href="https://github.com/IguanaMercenary">Michael O'Connell</a>
</address>