@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Securypt</h1>
    <p class="lead">Securypt allows you to encrypt and decrypt your files. Files may be saved locally or stored on a server</p>
    <p><a href="~/Upload" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How it works</h2>
        <img src="~/Content/Images/cqraf6gz.bmp" alt="drag and drop" width="300"/>
        <p>
            To get started, drag and drop or upload files from your computer onto the upload area. Once all your files
            have been selected, click "Encrpyt" to encrypt your files. After, your encrypted files will be stored locally
            on your computer or you can choose to store them on a server.  
        </p>
        <p>
            Decrypting your files is just as easy. Drag and drop or upload your encrypted files for decrytion. 
        </p>
        <p><a class="btn btn-default" href="~/Upload">Tutorial? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Encrypt</h2>
        <img src="~/Content/Images/encryption.jpg" alt="Encryption" width="350" />
        <p>[Generic text to describe encryption.]</p>
        <p><a class="btn btn-default" href="~/Upload">Start Encrypting! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Decrypt</h2>
        <img src="~/Content/Images/decryption.jpg" alt="Decryption" width="350" />
        <p>[Generic text to describe decryption.]</p>
        <p><a class="btn btn-default" href="~/Views/EncryptedItems/Index.cshtml">Start Decrypting! &raquo;</a></p>
    </div>
</div>